{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ FileName }} </title>
</head>
<body>
    <h2>Location :- http://127.0.0.1:8000/{{ FileLocation }}</h2>
    <iframe src="{% static FileLocation %}" type="text/pdf" style="width:600px; height:800px; border:none;"></iframe>
    <!-- <iframe srcdoc="{{ FileContent }}" style="width: 600px; height: 800px;" frameborder="0"></iframe> -->
</body>
</html>
