{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> File Share | Upload</title>
    <link rel="stylesheet" href="{% static 'css/Upload.css' %}">
</head>

{% include 'components/Base_share_navbar.html' %}
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mainContainer">
            <div class="uploadBox" id="uploadBox" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)" ondrop="handleDrop(event)">
                <div class="dragText">Drag files or</div>
                <div class="dragDropButton" id="dragDropButton" onclick="takeInput()">
                    Upload here.
                </div>
                <input type="file" id="fileInput" name="file_input" oninput="showInput()">
            </div>
            <div class="btn-class">
                <button type="submit" class="submit-btn"> Generate Link</button>
                <button type="reset" class="reset-btn" onclick="resetDisplay()"> cancel </button>
            </div>
        </div>
    </form>
</body>
<script>
    function takeInput() {
        document.getElementById("fileInput").click();          
    }

    function showInput() {
        document.getElementById("dragDropButton").style.display = "none";
        document.getElementById("fileInput").style.display = "flex";
    }

    function resetDisplay() {
        document.getElementById("dragDropButton").style.display = "flex";
        document.getElementById("fileInput").style.display = "none";

    }
    const dropArea = document.getElementById("uploadBox");
    const fileInput = document.getElementById('fileInput');

    function preventDefault(e) {
        e.preventDefault();
    }

    function handleDragOver(e) {
        e.preventDefault();
        e.stopPropagation();
        dropArea.classList.add('dragover');
    }

    function handleDragLeave(e) {
        e.preventDefault();
        e.stopPropagation();
        dropArea.classList.remove('dragover');
    }

    function handleDrop(e) {
        e.preventDefault();
        e.stopPropagation();
        dropArea.classList.remove('dragover');
        const files = e.dataTransfer.files;
        fileInput.files = files;

        showInput();
    }
</script>
</html>
