{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Text Editor | FileShare </title>
    <link rel="stylesheet" href="{% static 'css/Text_editor.css' %}">
    <script>
        let filename = "";
        let code = "";

        const updateName = (event) => {
            filename = event.target.value;
        }
        const updateCode = (event) => {
            code = event.target.value;
        }
        const handleUpload = () => {
            console.log(filename);
            console.log(code);
        }
    </script>
</head>
<body>
    {% include 'components/Base_Share_navbar.html' %}
    <div class="mainContainer">
        <div class="Editor">
            <input type="text" class="CodeName"
            onchange="updateName(event)" placeholder="File Name"></input>
            <div class="Tools"></div>
            <textarea class="TextArea" id="TextArea" 
            onchange="updateCode(event)" placeholder="Write your code here."></textarea>
        </div>
        <div class="uploadBtn" onclick="handleUpload()"> Upload </div>
        <!-- <form action="" method="POST">
            {% csrf_token %}
            <textarea name="Code" type="hidden"></textarea>
        </form> -->
    </div>
</body>
</html>