{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="{% static 'css\components\Base_Share_navbar.css' %}" rel="stylesheet">
</head>
<body>
    <div class="mainNavWrapper">
        <a href="http://127.0.0.1:8000" class="logoSpace"> File Share </a>
        <div class="navLinks" id="navLinks">

            <div class="hamburger-menu" onclick="hamburger()">
                <div class="hamburger-before line"></div>
                <div class="hamburger-middle line"></div>
                <div class="hamburger-after line"></div>
            </div>

            <ul>
                <li> File Share
                    <ul>
                        <li> <a href="{% url 'Base_Share:File Input'  %}"> Send    </a></li>
                        <li> <a href="{% url 'Base_Share:RecieveFile' %}"> Recieve </a></li>
                    </ul>
                </li>   
                <li> Editor
                    <ul>
                        <li> <a href="{% url 'Base_Share:TextEditor' %}"> New </a></li>
                        <li> Existing </li>
                    </ul>
                </li>
                <li> Material 
                    <ul>
                        <li> Assignment </li>
                        <li> Files      </li>
                    </ul>
                </li>
                <li> Extarct 
                    <ul>
                        <li> Link      </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <script>
        function hamburger() {
            document.querySelector('.hamburger-menu').classList.toggle('hamburger-active');
            console.log("Hamburger is clicked");
        }
    </script>
</body>
</html>
