* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
  }
  
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    min-height: 600px;
    height: 100vh;

    background: linear-gradient(90deg, rgb(150,150,20), red);
}

.tableContainer {
    width: 70vw;
    min-width: 400px;
    max-width: 600px;

    overflow: scroll;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    height: 40px;
}

tr:nth-child(even) {
    background-color: rgb(255,255,255,0.1);
}
