* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNavWrapper {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: 60px;

    background-color: rgb(50,50,50);

    box-shadow: 1px 2px 4px rgb(30,30,30);
}

.logoSpace {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    font-weight: 700;

    margin-left: 10px;
    text-decoration: none;
    color: linear-gradient(lightblue,blue);
}

.navLinks {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;

    margin-top: 10px;
}

.navLinks > ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

ul > li {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10px;

    width: 120px;

    list-style: none;

    background-color: rgb(50,50,50); 
    
}

li > ul {
    display:none;
}

li > a {
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

.navLinks > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .navLinks > ul {
        display: none;
    }
    
  .navLinks > .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
  }
    
  .hamburger-menu > .line {
        width: 40px;
        height: 2px;
        margin: 5px;
        background-color: black;
        transition :0.5s;
  }
    
  .hamburger-active .hamburger-before {
        transform: rotate(-45deg) translate(-8px, 8px);
  }
    
  .hamburger-active .hamburger-after {
        transform: rotate(45deg) translate(-8px, -8px);
  }
    
  .hamburger-active .hamburger-middle {
        opacity: 0;
  }
    
  .hamburger-active ~ ul {
        display: flex;
        flex-direction: column;
  }

}  
